@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-zinc-800;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer base {
  h1 {
    font-size: var(--text-4xl);
    font-weight: bold
  }
  h2 {
    font-size: var(--text-3xl);
    font-weight: bold
  }
  h3 {
    font-size: var(--text-2xl);
    font-weight: bold
  }
  h4 {
    font-size: var(--text-xl);
    font-weight: bold

  }
  h5 {
    font-size: var(--text-lg);
    font-weight: bold

  }
  h6{
    font-weight: bold
    
  }
}