@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-zinc-800;

  overflow-anchor: none;
  color-scheme: dark;

}

@layer base {

  table th,
  td {
    border: 1px solid;
    padding: calc(var(--spacing) *2);

  }

  h1 {
    font-size: var(--text-4xl);
    font-weight: bold
  }

  h2 {
    font-size: var(--text-3xl);
    font-weight: bold
  }

  h3 {
    font-size: var(--text-2xl);
    font-weight: bold
  }

  h4 {
    font-size: var(--text-xl);
    font-weight: bold
  }

  h5 {
    font-size: var(--text-lg);
    font-weight: bold
  }

  h6 {
    font-weight: bold
  }

  ul {
    list-style-type: circle
  }

  ol {
    list-style-type: decimal
  }

  li {
    list-style-position: inside;
  }

  li .task-list-item {
    list-style-position: inside;
    list-style-type: none;
  }

}

@layer components {

  .mootfight-link {
    @apply text-blue-200 underline
  }
}

.markdown {
  a {
    text-decoration: underline;
    color: var(--color-blue-200);
  }


}

.mdxeditor-popup-container {
  div[role=dialog] {
    display: flex;
    flex-direction: column
  }
  div {
    background-color: var(--color-zinc-800);
    color: white;
  }

  .dialog-overlay {
    background-color: var(--color-zinc-800);
    color: white;
  }

}

.mdxeditor-toolbar {
  button[role=combobox] {
    background-color: var(--color-zinc-800);
    color: white;
  }
}

.markdown-editor {
  table {
    width: auto;
    height: auto;
  }
}