@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-zinc-800;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer base {
  table th, td{
    border: 1px solid;
    padding: calc(var(--spacing) *2);

  }
  h1 {
    font-size: var(--text-4xl);
    font-weight: bold
  }
  h2 {
    font-size: var(--text-3xl);
    font-weight: bold
  }
  h3 {
    font-size: var(--text-2xl);
    font-weight: bold
  }
  h4 {
    font-size: var(--text-xl);
    font-weight: bold
  }
  h5 {
    font-size: var(--text-lg);
    font-weight: bold

  }
  h6{
    font-weight: bold
  }

  ul {
    list-style-type: circle
  }

  ol {
    list-style-type: decimal
  }

  li {
    list-style-position: inside;
  }

  li .task-list-item {
    list-style-position: inside;
    list-style-type: none;
  }

}

.markdown {
  a {
    text-decoration: underline;
    color: var(--color-blue-200);
  }
  
}